@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Outfit:wght@400;500;600&family=Syne:wght@700;800&display=swap');

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/reset';
@import 'partials/layout';
@import 'partials/assignments';
@import 'partials/editor';
@import 'partials/results';
@import 'partials/auth';